* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins",sans-serif;
}
:root {
  --bg-color: #111111;
  --second-bg-color: #151515;
  --text-color: white;
  --main-color: #04fffb;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
#bg-video {
  position: fixed;      
  top: 0;
  width: 100vw;     
  height: 100vh;     
  object-fit: cover; 
  z-index: -2;         
  pointer-events: none; 
}

.content {
  position: relative;
  z-index: 1;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  color: var(--main-color);
}
.navbar a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home-img {
  border-radius: 50%;
}
.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
.home-content h3 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 50px var(--main-color),0 0 100px var(--main-color);
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 1000px;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-media a:hover {
  color: white;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.3)translateY(-5px);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.animated-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.animated-text span {
  position: relative;
}
.animated-text span::before {
  content: '';
  color: var(--main-color);
  animation: words 9s infinite;
}
.animated-text span::after {
  content: '';
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
  to{
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words{
  0%{
    content: 'Java Developer';
  }
  100%{
    content: 'Web Developer';
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  color: white;
}
.about h2 span {
  color: var(--second-bg-color);
  text-shadow: 0 0 50px var(--main-color);
}
.about-img {
  border-radius: 50%;
}
.about-img img {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  top: 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.about-img img:hover {
  box-shadow: 0 0 50px var(--main-color),0 0 100px var(--main-color);
}
.heading {
  text-align: center;
  font-size: 8rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.5;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about-content .animated-text span::before {
  content: '';
  color: var(--main-color);
  animation: words 9s infinite;
}
.about-content .animated-text span::after {
  content: '';
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}
.experience {
  padding: 5rem 0;
  color: white;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  padding: 2rem 4rem;
  position: relative;
  width: 50%;
  background: transparent;
  backdrop-filter: blur(2px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(1, 254, 250, 0.782);
}

.timeline-item:nth-child(odd) {
  left: -2%;
}

.timeline-item:nth-child(even) {
  left: 52%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -28px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 2rem;
  z-index: 1;
}

.timeline-item:nth-child(even)::after {
  left: -28px;
}

.timeline-date {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--main-color);
  font-size: 1.6rem;
}

.timeline-content h3 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.timeline-content h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #aaa;
}

.timeline-content ul {
  font-size: 1.5rem;
  line-height: 1.6;
  padding-left: 1.5rem;
}

.timeline-content ul li {
  margin-bottom: 1rem;
}


.skills {
  color: white;
  text-align: center;
  padding: 10rem 2rem;
  overflow: hidden;
  position: relative;
}

.skills .heading {
  font-size: 5rem;
  color: #00ffff;
  margin-bottom: 5rem;
}

.solar-system {
  position: relative;
  width: 700px;
  height: 700px;
  margin: auto;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #f89820;
  text-shadow: 0 0 25px #f89820, 0 0 50px #ffb347;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dotted rgb(118, 118, 118);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 15s linear infinite;
}

.planet {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.planet i {
  text-shadow: 0 0 15px currentColor;
}

.orbit1 { width: 120px; height: 120px; animation-duration: 6s; }
.orbit2 { width: 180px; height: 180px; animation-duration: 7s; }
.orbit3 { width: 240px; height: 240px; animation-duration: 8s; }
.orbit4 { width: 300px; height: 300px; animation-duration: 9s; }
.orbit5 { width: 360px; height: 360px; animation-duration: 10s; }
.orbit6 { width: 420px; height: 420px; animation-duration: 11s; }
.orbit7 { width: 480px; height: 480px; animation-duration: 12s; }
.orbit8 { width: 540px; height: 540px; animation-duration: 13s; }
.orbit9 { width: 600px; height: 600px; animation-duration: 14s; }

@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

.fa-html5 { color: #e34f26; }
.fa-css3-alt { color: #1572b6; }
.fa-js { color: #f7df1e; }
.fa-react { color: #61dafb; }
.fa-node-js { color: #68a063; }
.fa-database { color: #00758f; }
.fa-plug { color: #00bfff; }
.fa-server { color: #ffcc00; }
.fa-github { color: #ffffff; }

@media (max-width: 768px) {

  /* Education Section */
  .education .timeline {
    padding: 1rem 0;
  }
  .education .timeline-item {
    width: 90% !important;
    left: 0 !important;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .education .timeline-item:nth-child(odd):after {
    left: -30px;
    top: 1rem;
  }
  .education .timeline::after {
    left: 0;
  }
  .education h2.heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .education .timeline-item h3 {
    font-size: 2rem;
  }
  .education .timeline-item h4,
  .education .timeline-item .timeline-location {
    font-size: 1.4rem;
  }

  /* Experience Section */
  .experience h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    text-align: center;
  }

  .experience .timeline {
    max-width: 100%;
    margin: 0;
    padding-left: 40px; 
  }

  .experience .timeline::after {
    left: 20px;     
    right: auto;  
    background-color: var(--main-color);
    width: 4px;
}

  .experience .timeline-item {
    width: 90% !important;
    left: 0 !important;
    margin-bottom: 2rem;
    padding-left: 3rem;
  }

  .experience .timeline-item:nth-child(odd):after {
    left: -30px;
    top: 0.5rem;
    right: auto; 
  }
  .experience .timeline-item:nth-child(even):after {
    right: 10; 
    top: 0.5rem;
    right: auto;
  }

  .experience .timeline-date {
    font-size: 1.4rem;
  }

  .experience .timeline-content h3 {
    font-size: 1.8rem;
  }

  .experience .timeline-content h4 {
    font-size: 1.4rem;
  }

  .experience .timeline-content ul li {
    font-size: 1.4rem;
  }

  /* Skills Section */
  .skills .solar-system {
    width: 300px;
    height: 300px;
  }
  .skills .sun {
    font-size: 4rem;
  }
  .skills .orbit {
    border-width: 1px;
  }
  .skills .planet {
    font-size: 2.5rem;
  }
  .skills .heading {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .orbit1 { width: 100px; height: 100px; animation-duration: 6s; }
  .orbit2 { width: 130px; height: 130px; animation-duration: 7s; }
  .orbit3 { width: 160px; height: 160px; animation-duration: 8s; }
  .orbit4 { width: 190px; height: 190px; animation-duration: 9s; }
  .orbit5 { width: 220px; height: 220px; animation-duration: 10s; }
  .orbit6 { width: 250px; height: 250px; animation-duration: 11s; }
  .orbit7 { width: 280px; height: 280px; animation-duration: 12s; }
  .orbit8 { width: 310px; height: 310px; animation-duration: 13s; }
  .orbit9 { width: 340px; height: 340px; animation-duration: 14s; }
}

.projects {
  color: white;
}
.projects h2 {
  margin-bottom: 5rem;
  color: white;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 3rem;
}
.project-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent;
  padding: 3em 5em;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(1, 254, 250, 0.782);
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.project-box:hover {
  transform: scale(1.03);
}
.tech-stack{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.tech-stack span {
  font-size: 1.3rem;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  background: rgba(255,255,255,0.1);
  transition: 0.3s;
}

.tech-stack span:hover {
  background: #00ffee;
  color: #000;
}

.project-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.project-buttons .btn {
  padding: 1rem 2rem;
  box-shadow: 0 0 15px rgba(1, 254, 250, 0.782);
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
}

.project-buttons .btn:hover {
  transform: scale(1.05);
}
.project-buttons .live-demo{
  background-color: var(--main-color);
  color: black;
}
.project-box .project-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: baseline;
}
.project-info h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.project-info p{
  font-size: 1.6rem;
  font-weight: 500;
  margin: auto;
}
.contact h2 {
  margin-bottom: 3rem;
  color: white;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
}
.footer .social-media {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social-media a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
.footer .social-media a:hover {
  transform: scale(1.2)translateY(-10px);
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
  color: white;
}
@media(max-width:1285px){
  html{
    font-size: 55%;
  }
  .projects-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2,1fr);
    margin: 0 5rem;
  }
}
@media(max-width:991px){
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .projects {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media(max-width:895px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 6oopx;
    margin: 0 auto;
  }
  .home-img img{
    width: 56vm;
    height: 56vm;
    margin-top: -2rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-content{
    margin: 0 2rem 4rem;
  }
  .about img {
    width: 52vm;
    height: 52vm;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 520px) { 
  html { 
    font-size: 50%; 
  } 
  .home-img img, .about-img img { 
    width: 180px; 
    height: 180px; 
  } 
  .projects-container { 
    grid-template-columns: 1fr; 
  } 
  .navbar a {
     margin: 1rem; font-size: 1.4rem; 
  }
}

/* Hamburger menu */
.hamburger {
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  z-index: 101;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: var(--main-color);
  border-radius: 2px;
}

#hamburger,
#closeBtn,
.hamburger,
.close-btn {
    display: none;
}


@media screen and (max-width: 768px) {
    #hamburger,
    .hamburger {
        display: flex; 
    }

    #closeBtn,
    .close-btn {
        display: block;
    }
}

/* Mobile sidebar */
@media (max-width: 895px) {
  .hamburger {
    display: flex;
    z-index: 101;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem 2rem;
    gap: 2rem;
    transition: 0.3s ease;
    z-index: 100;
  }

  .navbar.active {
    right: 0;
    padding-top: 75px;
  }

  .navbar a {
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
  }

  .close-btn {
    position: absolute;
    color: var(--main-color);
    top: 0;
    right: 3rem;
    font-size: 7rem;
    cursor: pointer;
    display: block;
  }
}
